
<p id="notice"><%= notice %></p>

<h1>Herbie Events</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <tbody>
    <% @herbies.each do |herbie| %>
      <tr>
        <td><%= herbie.user_name %></td>
        
        <td><%= herbie.title %></td>
        <td><%= herbie.description %></td>
        <td><%= link_to 'Show', herbie %></td>
        <td><%= link_to 'Edit', edit_herby_path(herbie) %></td>
        <td><%= link_to 'Destroy', herbie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Herbie', new_herby_path %>
