
<p>
  <strong>User name:</strong>
  <%= @herbie.user_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @herbie.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @herbie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @herbie.description %>
</p>


<%= link_to 'Edit', edit_herby_path(@herbie) %> |
<%= link_to 'Back', herby_path %>
