<%= form_with(model: herb, local: true) do |form| %>
  <% if herb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(herb.errors.count, "error") %> prohibited this herb from being saved:</h2>

      <ul>
      <% herb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
